@import "../../scss/index.scss";

.MuiBottomNavigationAction-root {
  color: $font-dark !important;
}

.boton-bar{
  &:focus {
    outline: none !important;
  }
}

.texto-router{
  color: $font-dark;
}
@media(prefers-color-scheme: dark) {
  .texto-router{
    color: $font-ligth;
  }
}


.chip-bar-cliente{
  background-color: #F29400!important;
  font-size: 1rem!important;
  color: $font-ligth!important;
}
.chip-bar{
  background-color: #F50057!important;
  font-size: 1rem!important;
  color: $font-ligth!important;
}

@media (prefers-color-scheme: dark) {
  .MuiBottomNavigationAction-root {
    color: $font-ligth !important;
  }
}

.avatar-app {
  background: #5000ca !important;
  border: #fff 2px solid;
  border-radius: 20rem;
}

.appbar {
  /* min-height: 9.5vh !important; */
  align-items: center;
  min-height: 9.5vh !important;

  background: #5000ca !important;
}
.appbar .MuiToolbar-regular {
  width: 100% !important;
  height: 9.5vh !important;
}

/* .bottombar {
  top: auto !important;
  bottom: 0 !important;
}
.pieBar {
   min-height: 9.5vh !important;
  min-height: 9.5vh !important;
  background: $background-light !important;
}
@media (prefers-color-scheme: dark) {
  .pieBar {
    background: $background-secondary-dark !important;
  }
} */
.primero {
  height: 9.5vh !important;
}
.segundo {
  background: $background-light !important;
  min-height: 90.5vh !important;
  width: 100% !important;
}

@media (prefers-color-scheme: dark) {
  .segundo {
    background: $background-dark !important;
  }
}

.titulo {
  flex-grow: 1;
}
