@import "../../scss/index.scss";

.MuiBottomNavigationAction-root {
  color: $font-dark !important;
}

@media (prefers-color-scheme: dark) {
  .MuiBottomNavigationAction-root {
    color: $font-ligth !important;
  }
}

.appbar {
  /* min-height: 9.5vh !important; */
  align-items: center;
  min-height: 9.5vh !important;
  background: #00bcd4 !important;
}
.appbar .MuiToolbar-regular {
  width: 100% !important;
  height: 9.5vh !important;
}

/* .bottombar {
  top: auto !important;
  bottom: 0 !important;
}
.pieBar {
   min-height: 9.5vh !important;
  min-height: 9.5vh !important;
  background: $background-light !important;
}
@media (prefers-color-scheme: dark) {
  .pieBar {
    background: $background-secondary-dark !important;
  }
} */
.primero {
  height: 9.5vh !important;
}
.segundo {
  background: $background-light !important;
  min-height: 90.5vh !important;
  width: 100% !important;
}

@media (prefers-color-scheme: dark) {
  .segundo {
    background: $background-dark !important;
  }
}

.titulo {
  flex-grow: 1;
}
