@import "../../scss/index.scss";

.MuiBottomNavigationAction-root {
  color: $font-dark !important;
}

@media (prefers-color-scheme: dark) {
  .MuiBottomNavigationAction-root {
    color: $font-ligth !important;
  }
}

.appbar {
  /* min-height: 9.5vh !important; */
  align-items: center;
  min-height: 9.5vh !important;
  background: #00bcd4 !important;
}
.appbar .MuiToolbar-regular {
  width: 100% !important;
  height: 9.5vh !important;
}

.bottombar {
  top: auto !important;
  bottom: 0 !important;
}
.pieBar {
  /* min-height: 9.5vh !important; */
  min-height: 9.5vh !important;
  background: $background-light !important;
}
@media (prefers-color-scheme: dark) {
  .pieBar {
    background: $background-secondary-dark !important;
  }
}
.primero {
  height: 9.5vh !important;
}
.segundo {
  background: $background-light !important;
  min-height: 91.5vh !important;
  width: 100% !important;
}

@media (prefers-color-scheme: dark) {
  .segundo {
    background: $background-dark !important;
  }
}

.posicionamiento {
  //margin-top: 12px !important;
  //align-self: center;
  //margin: 0 auto;
}
.titulo {
  flex-grow: 1;
}
.caja {
  width: 200px;
}

@media screen and (max-height: 480px) {
  .posicionamiento {
    //margin-top: 5px !important;
  }
  .titulo {
    flex-grow: 1;
    margin-top: 5px !important;
  }
  .caja {
    margin-top: 5px;
  }
}
