@import "../../../scss/index.scss";

.item-actualizar-pc {
  color: $font-dark;
  &:focus {
    outline: none !important;
  }
}
@media (prefers-color-scheme: dark) {
  .item-actualizar-pc {
    color: $font-ligth;
  }
}

.card-contenedor {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75) !important;
}

.search-box-editar {
  display: flex;
  width: 450px;
  position: relative;
  height: 60px;
  background: $background-light;
  border-radius: 15px;
  box-shadow: 0 3px 5px #beb4ff;
  color: $font-dark;
  font-weight: 600;
  cursor: text;
  &:focus {
    outline: none !important;
  }
  input {
    border: 1px solid $font-dark!important;
    position: absolute;
    width: 450px;
    height: 60px;
    border-radius: 15px;
    color: $font-dark;
    font-weight: 600;
    background: $background-light;
    padding-left: 60px;
    &:focus {
      outline: none !important;
    }
  }
}
@media (prefers-color-scheme: dark) {
  .search-box-editar {
    background: $background-secondary-dark;
    border: 0!important;
    color: white;
    box-shadow: none !important;
    input {
      border: 3px solid $font-ligth!important;
      color: white;
      background: $background-secondary-dark;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.contenedor-ver-pc {
  margin-bottom: 80px;
}

@media (prefers-color-scheme: dark) {
  .card-header-pc {
    background: $background-secondary-dark;

    & span {
      color: $font-ligth;
    }
  }
}
@media (prefers-color-scheme: dark) {
  .card-content-pc {
    background: $background-secondary-dark;

    & p {
      color: $font-ligth;
    }
  }
}
@media (prefers-color-scheme: dark) {
  .card-action-pc {
    background: $background-secondary-dark;
  }
}
