body {
  margin: 0;
  background: #ffff;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #202020;
  }
}
/* .fondo {
  background: #ffff;
  min-height: 100vh;
}
@media (prefers-color-scheme: dark) {
  .fondo {
    background: #202020;
  }
}
 */
