@import "../../scss/index.scss";

h2 {
  color: $font-dark;
}

@media (prefers-color-scheme: dark) {
  h2 {
    color: $font-ligth;
  }
}

.color-icono {
  color: $font-dark !important;
}

@media (prefers-color-scheme: dark) {
  .color-icono {
    color: $font-ligth !important;
  }
}

.background-registro {
  background: $background-light !important;
}
@media (prefers-color-scheme: dark) {
  .background-registro {
    background: $background-dark !important;
  }
}
.boton-salir {
  color: $font-dark !important;
  &:focus {
    outline: none;
  }
}
@media (prefers-color-scheme: dark) {
  .boton-salir {
    color: $font-ligth !important;
  }
}

.color-input {
  input {
    color: $font-ligth !important;
  }

  label.Mui-focused {
    color: #afb9bd;
  }
  label {
    color: #afb9bd;
  }
  .MuiInput-underline:after {
    border-bottom-color: #afb9bd;
  }
  .MuiOutlinedInput-root fieldset {
    border-color: #afb9bd;
  }
  .MuiOutlinedInput-root:hover fieldset {
    border-color: #fff;
  }
  .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #fff;
  }
}

.boton-registro {
  padding: 0.8rem !important;
  background: $background-principal !important;
  border-radius: 20rem !important;
  color: $font-ligth !important;
  &:focus {
    outline: none !important;
  }
}
