@import "../../scss/index.scss";

.contenido-image{
  display: flex;
  justify-content: center;
}
.avatar-user{
  width: 150px!important;
  height: 150px!important;
}
.event-user{
  font-size: 5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition-delay: 99999s;
}

h2 {
  color: $font-dark;
}
.error-text {
  color: $font-dark;
}

@media (prefers-color-scheme: dark) {
  .error-text {
    color: $font-ligth;
  }
}
@media (prefers-color-scheme: dark) {
  h2 {
    color: $font-ligth;
  }
}
@media screen and (min-width: 768px) {
  .w-porcentaje {
    width: 75% !important;
  }
}
.color-icono {
  color: $font-dark !important;
}

@media (prefers-color-scheme: dark) {
  .color-icono {
    color: $font-ligth !important;
  }
}

.background-dialog {
  background: $background-light !important;
}
@media (prefers-color-scheme: dark) {
  .background-dialog {
    background: $background-dark !important;
  }
}
.boton-salir {
  color: $font-dark !important;
  &:focus {
    outline: none;
  }
}
@media (prefers-color-scheme: dark) {
  .boton-salir {
    color: $font-ligth !important;
  }
}

.color-input-r {
  input {
    color: #202020 !important;
  }

  label.Mui-focused {
    color: #404040 !important;
  }
  label {
    color: #404040 !important;
  }
  .MuiInput-underline:after {
    border-bottom-color: #404040 !important;
  }
  .MuiOutlinedInput-root fieldset {
    border-color: #404040 !important;
  }
  .MuiOutlinedInput-root:hover fieldset {
    border-color: #202020 !important;
  }
  .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #202020 !important;
  }
}

@media (prefers-color-scheme: dark) {
  .color-input-r {
    & input {
      color: $font-ligth !important;
    }

    label.Mui-focused {
      color: #afb9bd !important;
    }
    label {
      color: #afb9bd !important;
    }
    .MuiInput-underline:after {
      border-bottom-color: #afb9bd !important;
    }
    .MuiOutlinedInput-root fieldset {
      border-color: #afb9bd !important;
    }
    .MuiOutlinedInput-root:hover fieldset {
      border-color: #fff !important;
    }
    .MuiOutlinedInput-root.Mui-focused fieldset {
      border-color: #fff !important;
    }
  }
}

/* .boton-registro {
  padding: 0.8rem !important;
  background: $background-principal !important;
  border-radius: 20rem !important;
  color: $font-ligth !important;
  &:focus {
    outline: none !important;
  }
} */
