//Estilos globales
$background-principal: linear-gradient(
  to right,
  #e53935,
  #e35d5b
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

//Modo oscuro
$background-dark: #202020;
$background-secondary-dark: #252525;
$font-ligth: #ffff;

//Modo claro
$background-light: #ffff;
$font-dark: #202020;
