//Estilos globales
$background-principal: linear-gradient(to right, #c31432, #240b36);

//Modo oscuro
$background-dark: #202020;
$font-ligth: #ffff;

//Modo claro
$background-light: #ffff;
$font-dark: #202020;
